@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>Home</title>  
    <link href="~/Content/HomeStyle.css" rel="stylesheet" />
</head>

<body>
   <div class="divcntr">
    <h1 class="header">Well come to my movie rental App</h1>
   </div> 
</body>

